{% extends 'base.html.twig' %}
{% block sidebar %}{% endblock %}

{% block body %}
    <section>
        <h1 class="text-center">{{ movie.title ~ ' (' ~ movie.releaseYear ~ ')' }}</h1>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {% if movieCastAndCrew %}
                    <h2>Cast and crew:</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody id="ajax_html_part">
                        {% for cnc in movieCastAndCrew %}
                            <tr>
                                <td>{{ cnc.person.firstName }}</td>
                                <td>{{ cnc.person.lastName }}</td>
                                <td>{{ cnc.role }}</td>
                                <td>
                                    <a href="{{ path('edit_movie_cast_and_crew_item', {'movie': movie.id, 'id': cnc.id}) }}" class="btn btn-xs btn-success">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('movie_cast_and_crew_delete', {'movie': movie.id, 'id': cnc.id}) }}" class="btn btn-xs btn-danger"><span class="fa fa-trash-o fa-fw"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="text-right">
                        <a href="{{ path('new_movie_cast_and_crew', {'id': movie.id}) }}" class="btn btn-xs btn-success">+ Add person to the cast and crew</a>
                    </p>
                {% else %}
                    <p class="text-center">
                        <br><br><br>
                        Currently, this movie has no cast and crew, but you can add a <a href="{{ path('new_movie_cast_and_crew', {'id': movie.id}) }}">first member</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}