{% extends 'base.html.twig' %}
{% block sidebar %}{% endblock %}

{% block body %}
    <section>
        <h1 class="text-center">Movie List</h1>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {% if movies %}
                    <h2>Current movies:</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Release Year</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody id="ajax_html_part">
                        <a class="btn btn-xs btn-info pull-right"
                           href="{{ path('person_list') }}">
                            Person List
                        </a>
                        {% for movie in movies %}
                            <tr>
                                <td>{{ movie.title }}</td>
                                <td>{{ movie.releaseYear }}</td>
                                <td>{{ movie.description }}</td>
                                <td>
                                    <a href="{{ path('movie_edit', {'id': movie.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a>
                                </td>
                                <td>
                                    <a href="{{ path('movie_delete', {'id': movie.id}) }}" class="btn btn-xs btn-danger"><span class="fa fa-trash-o fa-fw"></span></a>
                                </td>
                                <td>
                                    <a href="{{ path('movie_cast_and_crew_list', {'id': movie.id}) }}" >Cast and Crew</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagerfanta">
                        {{ pagerfanta(movies, 'twitter_bootstrap3', { 'omitFirstPage': true }) }}
                    </div>
                    <p class="text-right">
                        <a href="{{ path('new_movie') }}" class="btn btn-xs btn-success">+ New Movie</a>
                    </p>
                {% else %}
                    <p class="text-center">
                        <br><br><br>
                        Currently, there are no movies in database, but you can add a <a href="{{ path('new_movie') }}">first movie</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}